# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entorno virtual (está afuera pero por si acaso)
venv/
venv_isteps/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc
media/
staticfiles/

# Credenciales y entorno
.env
.env.local
.env.production
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# Sistema
.DS_Store
Thumbs.db
desktop.ini
